# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# MacOS specific files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker files
docker-compose.yml
Dockerfile

# Coverage directory used by testing tools
coverage/

# Build output
dist/
build/

# Misc
*.swp
